.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.md/**
suggestions.md
claude.md
esbuild.js
vite.config.ts
tailwind.config.js
postcss.config.js
